
.ScorePage{
    background-color: var(--blue-200);
}

.ScorePage_popup{
    background-color: var(--blue-500);
}

@media (max-width: 768px) {
    .ScorePage {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
  
    .ScorePage_popup {
      background-color: #ffffff;
      border-radius: 8px;
      padding: 20px;
      text-align: center;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }
  
    .ScorePage_popup h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }
  
    .ScorePage_popup p {
      font-size: 16px;
      margin-bottom: 8px;
    }
  
    .ScorePage_popup p:last-child {
      margin-bottom: 0;
      font-weight: bold;
    }
  }