/* Estilos para dispositivos móviles */

/* Estilos generales */
.PlayersPage {
  background-color: var(--color-background);
  height: 100vh;
}

/* Estilos para el encabezado */
header {
  background-color: var(--color-primario);
  color: #fff;
  padding: 20px;
  text-align: center;
}

header .PlayersPage_container-h2 {
  margin: 10px;
}

/* Estilos para el contenido principal */
main {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 50px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.Players_container-box{
    width: 100%;
    display: flex;
    justify-content: center;
}

.Players_container-box-button{
    padding: 10px 20px;
    background-color: var(--color-primario);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.Players_container-box-button:hover{
    background-color: var(--color-hover);
}
.Players_container-box-button:focus{
    outline: none;
    box-shadow: 0 0 0 2px var(--color-background);
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 480px) {
  header {
    font-size: 24px;
  }

  input[type="text"],
  button[type="submit"] {
    width: 100%;
  }
}